:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.foodbox-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-top: 70px;

}


.foodbox-main-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: #ffffff42;
  padding: 20px;
}

.foodbox-main-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}

img{
  width: 100px;
}

.add{
  height: 35.7px;
  width: 30px;
  color: #242424;
  background-color: white;
  
}

.reset{
  height: 35px;
  width: 100px;
  color: #242424;
  background-color: white;
}

input[type="number"]{
  width: 200px;
  height: 30px;
  color: black;
  background-color: white;
}